html {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	font-family: Roboto, sans-serif;
	color: #fff;
	height: 100vh;
	display: table;
	background: #121212;
}

/*-----------------------Button to Github------------------------------*/

.github-button {
  background-color: #535353; 
  border: none;
  color: white;
  font-family: monospace;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
}

.trapdoor {
  -webkit-transform: translateZ(0px);
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 70%;
  left: 50%;
  margin-left: -100px;
  margin-top: -25px;
  width: 200px;
  height: 50px;
  box-shadow: inset -7px 0px 12px -8px rgba(18, 18, 18, 0.3), inset 7px 0px 12px -8px rgba(18, 18, 18, 0.3);
  background: rgba(153, 153, 153, 0.1);
  -webkit-transition: background 400ms ease-in-out;
  -moz-transition: background 400ms ease-in-out;
  -ms-transition: background 400ms ease-in-out;
  -o-transition: background 400ms ease-in-out;
  transition: background 400ms ease-in-out;
}
.trapdoor:hover {
  background-color: rgba(178, 178, 178, 0.6);
}
.trapdoor:hover .door {
  box-shadow: 0px 0px 15px -1px rgba(153, 153, 153, 0.1);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}
.trapdoor:hover .top {
  top: -50%;
}
.trapdoor:hover .bottom {
  top: 100%;
}
.trapdoor .github-button {
  margin-left: -74px;
  position: absolute !important;
  margin-top: -18px;
  left: 50%;
  top: 50%;
}

.top {
  top: 0%;
  left: 0px;
}
.top:before {
  top: 5px;
}

.bottom {
  top: 50%;
  left: 0px;
}
.bottom:before {
  top: -20px;
}

.door {
  -webkit-transition: top 400ms, box-shadow 200ms, -webkit-transform 300ms;
  -moz-transition: top 400ms, box-shadow 200ms, -moz-transform 300ms;
  -ms-transition: top 400ms, box-shadow 200ms, -ms-transform 300ms;
  -o-transition: top 400ms, box-shadow 200ms, -o-transform 300ms;
  transition: top 400ms, box-shadow 200ms, transform 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #121212;
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  height: 50%;
}
.door:before {
  font-family: Roboto, sans-serif;
  position: absolute;
  margin-left: -40px;
  font-size: 18px;
  display: flex;
  color: #fff;
  content: "DON'T CLICK";
  width: 0px;
  height: 20px;
  left: 54%;
}



/*-----------------------Animation of name------------------------------*/

path {
	stroke: #000000;
	fill: #000000;
	stroke-dasharray: 400;
	opacity: 10;
	animation: animate 4s cubic-bezier(.95,.60, .56, .8);

}

@keyframes animate{
	0% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 400;
	}

	30% {
		opacity: 10;
		fill: none;
		stroke-dashoffset: 400;
	}

	90% {
		fill: rgba(255, 255, 255, 0);
	}

	100% {
		opacity: 10;
		fill: rgba(255, 255 , 255 ,1);
		stroke-dashoffset: 0;
	}
}

/*-----------------------------Sections-------------------------------------*/

.container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.navbar {
	position: fixed;
	top: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	background: rgba(0, 0, 0, 0.7)
}

.navbar ul {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;

}

.navbar ul li {
	margin: 0 1rem;
}

.navbar ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #f4f4f4;
	text-align: center;
}

.limit_width {
	width: 60%;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
}

section h1 {
	font-size: 2rem;
}

section p {
	font-size: 1.1rem;
}

section#home {
	background: #212121;
}

section#top {
	top: 10%;
}

::-webkit-scrollbar {
	display: none;
}